#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_1 {
  rotation: 90.0;
  margin-left: 69px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_11 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_13 {
  rotation: 90.0;
  margin-left: 69px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_18 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_19 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_20 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_4 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_7 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_9 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_12 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_14 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_21 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_24 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_26 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_27 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_28 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_30 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_31 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_34 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_35 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_36 {
  rotation: 90.0;
  margin-left: 69px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_37 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_39 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_41 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_44 {
  rotation: 90.0;
  margin-left: 69px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_46 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_47 {
  rotation: 90.0;
  margin-left: 69px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_48 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_49 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_50 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_51 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_52 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_53 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_54 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_55 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_56 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_57 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_58 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_59 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_60 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_61 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_65 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_66 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_67 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_68 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_69 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_71 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_73 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_74 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_75 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_76 {
  rotation: 90.0;
  margin-left: 69px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_77 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_78 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_79 {
  rotation: 90.0;
  margin-left: 69px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_80 {
  rotation: 90.0;
  margin-left: 70px;
  margin-top: -71px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_81 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_82 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_83 {
  rotation: 231.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_84 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_85 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}